body{
    direction: rtl !important;
}

.text-white,
.t-white {
    color: #fff;
}


.tc {
    text-align: center;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 13px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 16px;
}

.fs17 {
    font-size: 17px;
}

.fs18 {
    font-size: 18px;
}

.fs19 {
    font-size: 19px;
}

.fs20 {
    font-size: 20px;
}


.fs21 {
    font-size: 21px;
}

.fs22 {
    font-size: 22px;
}

.fs23 {
    font-size: 23px;
}

.fs24 {
    font-size: 24px;
}

.fs25 {
    font-size: 25px;
}

.fs26 {
    font-size: 26px;
}

.fs27 {
    font-size: 27px;
}

.fs28 {
    font-size: 28px;
}

.fs29 {
    font-size: 29px;
}

.fs30 {
    font-size: 30px;
}

.fs31 {
    font-size: 31px;
}

.fs32 {
    font-size: 32px;
}

.fs33 {
    font-size: 33px;
}

.fs34 {
    font-size: 34px;
}

.fs35 {
    font-size: 35px;
}

.fs36 {
    font-size: 36px;
}

.fs37 {
    font-size: 37px;
}

.fs38 {
    font-size: 38px;
}

.fs39 {
    font-size: 39px;
}

.fs40 {
    font-size: 40px;
}

.fs41 {
    font-size: 41px;
}

.fs42 {
    font-size: 42px;
}

.fs43 {
    font-size: 43px;
}

.fs44 {
    font-size: 44px;
}

.fs45 {
    font-size: 45px;
}

.fs46 {
    font-size: 46px;
}

.fs47 {
    font-size: 47px;
}

.fs48 {
    font-size: 48px;
}

.fs49 {
    font-size: 49px;
}

.fs50 {
    font-size: 50px;
}

.fs51 {
    font-size: 51px;
}

.fs52 {
    font-size: 52px;
}

.fs53 {
    font-size: 53px;
}

.fs54 {
    font-size: 54px;
}

.fs55 {
    font-size: 55px;
}

.fs56 {
    font-size: 56px;
}

.fs57 {
    font-size: 57px;
}

.fs58 {
    font-size: 58px;
}

.fs59 {
    font-size: 59px;
}

.fs60 {
    font-size: 60px;
}

.fs80 {
    font-size: 90px;
}
.fs90 {
    font-size: 90px;
}

.fs100 {
    font-size: 100px;
}


.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw900 {
    font-weight: 700;
}


.t-dark {
    color: #101828;
}

.t-gray {
    color: #616161;
}

.t-gray2 {
    color: #667085;
}

.t-orange {
    color: #FFA800;
}

.t-green {
    color: #113B16;
}

.t-green2 {
    color: #317139;
}

.t-blue {
    color: #1570EF;
}

.t-light-green {
    color: #D4FDD9;
}

.of-hidden {
    overflow: hidden;
}

.bg-app-green {
    background: #317139;
}

.pointer {
    cursor: pointer;
}

.w--50 {
    width: 50%;
}

.w--49 {
    width: 49%;
}

.w--60 {
    width: 60%;
}

.w--70 {
    width: 70%;
}

.m-auto {
    margin: 0 auto;
}

.w--80 {
    width: 80%;
}

.w--90 {
    width: 90%;
}

.w--100 {
    width: 100%;
}

.w--10 {
    width: 10%;
}

.w_20 {
    width: 20px;
}

.max-700 {
    max-width: 700px;
}

.max-800 {
    max-width: 800px;
}

.all-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.padding-0 {
    padding: 0px !important;
}

.deep-green-btn {
    background-color: #113B16;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 12px;
}

.deep-orange-btn {
    background-color: #FFA800;
    height: 48px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 12px;
}


.iti {
    display: initial !important;
    width: 95% !important;
}

.aic {
    align-items: center;
}

.ais {
    align-items: start;
}
.aie {
    align-items: flex-end;
}

.jcc {
    justify-content: center;
}

.jcb {
    justify-content: space-between;
}

.jcfe {
    justify-content: flex-end;
}

.capitalize {
    text-transform: capitalize;
}

::placeholder {
    color: #566D89;
    font-size: 16px;
    font-weight: 500;
}

input[type="email"] {

    font-size: 15px !important;
    font-weight: 500 !important;
    color: #1A1C1E !important;
}

input[type="text"] {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #1A1C1E !important;
}

input[type="number"] {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #1A1C1E !important;
}

input[type="date"] {
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #1A1C1E !important;
}

.toast-error {
    background-color: #f41919 !important;
}

.toast-success {
    background-color: #20d489 !important;
}

.toast-info {
    background-color: orange !important;
}

.toast {
    backdrop-filter: none !important;
}

.no-border {
    border: none;
}

.custom-btn-secondary {
    background-color: #5FC1C4 !important;
    height: 50px !important;
}

.custom-btn-secondary-outline {
    height: 50px !important;
    border: 1px solid #DCE4E8;
    background-color: transparent !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* secondary black */
.secondary-b,
.sec-b {
    color: #1A1C1E;
}

.text-blue {
    color: #246BFD;
}


.text-primary {
    color: #02A3F8 !important;
}

.text-secondary {
    color: #053B3F !important;
}

.text-tertiary {
    color: #62E9C7 !important;
}

.text-900 {
    color: #212121 !important;
}

.text-800 {
    color: #424242 !important;
}

.text-700 {
    color: #616161 !important;
}

.text-600 {
    color: #757575 !important;
}

.text-500 {
    color: #9E9E9E !important;
}

.text-dark-1 {
    color: #181A20 !important;
}

.text-dark-2 {
    color: #1F222A !important;
}

.text-dark-3 {
    color: #35383F !important;
}

.txt-gray {
    color: #6C7278;
}

.bg-primary {
    background-color: #02A3F8 !important;
    color: #FFFFFF !important;
}

.bg-secondary {
    background-color: #053B3F !important;
}

.bg-tertiary {
    background-color: #62E9C7 !important;
}

.careone-gradient {
    background: linear-gradient(81.12deg, #009EFD 6.57%, #26ECA2 93.43%) !important;
}

.bg-gray2 {
    background-color: #DCE4E8;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 260px; /* Adjust this value based on your sidebar width */
}


/* RTLSection.css */

.rtl-section {
  font-family: Inter, serif;
  margin: 0 auto;
  padding: 20px;
}

.rtl-header {
  margin-bottom: 20px;
}

.rtl-title {
  font-size: 24px;
  font-weight: 700;
  color: #021341;
}

.rtl-description {
  font-size: 14px;
  color: #777;
}

.theme-list, .theme-selector, .instructions, .steps {
  background-color: #FBFBFB;
  border: 1px solid #C6C6C6;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
}

.input-container {
  margin-bottom: 16px;
}

.input-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.input-container select, .input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #C6C6C6;
  border-radius: 4px;
}

.video-placeholder {
  height: 419px;
  border: 3px solid #C6C6C6;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBFBFB;
}

.steps {
  background-color: #021341;
  color: #FBFBFB;
}

.steps h4 {
  margin-bottom: 16px;
}

.steps ul {
  list-style-type: none;
  padding: 0;
}

.steps li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.steps li::before {
  content: '✓';
  margin-right: 8px;
  color: #FBB105;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 1000;
  width: 260px !important; /* Adjust as needed */
  height: 100vh;
  overflow-y: auto;
  background-color: #f5f5f5; /* Adjust as needed */
  z-index: 1000;
}


.sidebar_bg {
    background-color: #f7fcff
}

.sidebar_active {
    color: #0C449B
}

.br8 {
    border-radius: 8px;
}

.br10 {
    border-radius: 10px;
}

.br20 {
    border-radius: 20px;
}

.h44 {
    height: 44px;
}

.lg360 {
    width: 360px;
}

.lg300 {
    width: 300px;
}

.no-underline {
    text-decoration: none;
}

.app-teal {
    color: #5FC1C4;
}

.app-blue {
    color: #02A3F8;
}

.black2 {
    color: #212121;
}

.btn-no-bg {
    border: 1px solid #DCE4E8;
    background-color: transparent !important;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_avatar {
    width: 118px;
    height: 118px;
    border-radius: 50%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign {
    width: 100%;
    height: 118px;
    border-radius: 2px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-btn-danger {
    background-color: #CE2C60;
}

.remove-focus-outline:focus {
    outline: none;
}

.remove-focus-outline {
    height: 56px !important;
    background-color: red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.underline {
    text-decoration: underline !important;
}

.uppercase {
    text-transform: uppercase;
}

.auth {
    width: 480px
}

.navbar-nav .nav-link.active {
    color: #02A3F8 !important;
}

.success-bg-status{
    background: #ECF8F0CC;
    width: 96px;
    height: 27px;
    border-radius: 4px;
    padding: 6px, 12px, 6px, 12px;
}
.success-bg-status p{
    font-weight: 600;
    font-size: 14px;
    color: #1C8C6E;
    text-align: center;
}
.pending-bg-status{
    background: #FBF4E4;
    width: 96px;
    height: 27px;
    border-radius: 4px;
    padding: 6px, 12px, 6px, 12px;
}
.pending-bg-status p{
    font-weight: 600;
    font-size: 14px;
    color: #DBAA00;
    text-align: center;
}


/* Button */

button{
    border-radius: 24px !important;
    padding : 8px 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border : none !important;
    font-size: 14px;
    font-weight: 500;
    color: #0D0D0D;

}

.bg-yellow{
    background-color: #FBB105;
}

/* End Button */


@media screen and (max-width: 900px) {

    .auth {
        width: 100%;
        padding: 20px;
    }

    .mobile-fs-20 {
        font-size: 20px;
    }

    .mobile-fs-25 {
        font-size: 25px;
    }

    .mobile-fs-30 {
        font-size: 30px;
    }

    .sm100 {
        width: 100%;
    }
}
